<div class="header">
  
  
  <% if controller.authorized? %>
    
    <span class="pull-right">
      <ul class="nav" >
        <li>
          <%= link_to controller.current_user.screen_name, controller.current_user.profile_url %>
        </li>
        <li>
          <%= link_to "logout", logout_url, {:id => "logout"} %>
        </li>
      </ul>
    </span>
    
    <form action="" class="pull-right">
      <%= link_to(image_tag(controller.current_user.profile_image, :size => "30x30"), controller.current_user.profile_url) %>
    </form>
    
    
  <% else %>
    <form action="" class="pull-right">    
      <%= link_to image_tag("/images/twitter_button.gif"), login_url, :id => "twitter_login_but" %>
    </form>      
  <% end %>
  
  <div id="menu-box">
    <div id="system_message">
      <%= system_messages %>
    </div>
  </div>
  
</div>